/* Universal Styles */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: hsl(211, 10%, 45%);
  background-color: hsl(223, 19%, 93%);
}

.icon-plus, .icon-minus, .div-delete, .edit-reply-container, .comment-submit, .form-textArea:hover {
  cursor: pointer;
}

.hide {
  display: none !important;
}

/* Main */
main {
  position: relative;
}

/* Main .comment-section */
.comment-section {
  padding: 1rem;
}
/* Main .comment */
.comment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin-bottom: 1rem;
}
/* Main .comment-details */
.comment-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-user {
  width: 24px;
  height: 24px;
}

.avatar-user, .comment-details > div:first-of-type{
  margin-right: 1rem;
}

.span-you {
  background-color: hsl(238, 40%, 52%);
  padding: 0.25rem 0.5rem;
  color: hsl(0, 0%, 100%);
  margin-left: 0.5rem;
  border-radius: 3px;
}

.comment-details > div:first-of-type {
  color: hsl(212, 24%, 26%);
  font-weight: 600;
}
/* Main .comment > div:nth-of-type(2) (content div) */ 
.comment > div:nth-of-type(2) {
  width: 100%;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.replyingTo {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
/* Main .likes-container */
.likes-container {
  display: flex;
  align-items: center;
  padding: .5rem;
  background-color: hsl(223, 19%, 93%);
  border-radius: 10px;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.icon-plus {
  width: 11px;
  height: 11px;
  margin-right: .75rem;
}

.icon-minus {
  width: 11px;
  height: 3px;
  margin-left: .75rem;
}
/* Main .edit-comments-container */
.edit-comments-container {
  display: flex;
  align-items: center;
}

.edit-reply-container {
  display: flex;
  align-items: center;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.div-delete {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: hsl(358, 79%, 66%);
}

.icon-delete {
  margin-right: .25rem;
}

.icon-reply {
  width: 14px;
  height: 13px;
  margin-right: .25rem;
}

.icon-edit {
  width: 14px;
  height: 14px;
  margin-right: .25rem;
}
/* Main .replies-list */
.replies-list {
  width: 100%;
  border-left: 2px solid hsl(239, 57%, 85%);
  margin-left: auto;
  padding-left: 5%;
}

/* Main .comment-create */
.comment-user-create {
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.comment-user-create, .comment-form, .form-textArea {
  width: 100%;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.comment-form > label:first-of-type {
  flex: 1 100%;
  order: 1;
}

.form-textArea {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid hsl(223, 19%, 93%);
  border-radius: 10px;
  resize: none;
}

.comment-form > div {
  order: 2;
}

.comment-form > label:last-of-type {
  order: 3;
}

.user-pfp {
  width: 36px;
  height: 36px;
}

.comment-submit, #edit-form-submit-btn {
  padding: 0.75rem 1.5rem;
  color: white;
  background-color: hsl(238, 40%, 52%);
  border-radius: 5px;
  text-transform: uppercase;
}

/* Main Edit Form */
#edit-form-submit-btn {
  padding: .25rem .5rem;
}

/* Main #modal-delete */
#modal-delete {
  position: absolute;
  top: 20%;
  left: 5%;
  transform: translateX(-2.5%);
  width: 95%;
  padding: 1.5rem;
  z-index: 3;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#modal-delete > h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;;
  font-weight: 700;
  color: hsl(212, 24%, 26%);
  flex: 1 100%;
}

#modal-delete > div {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  flex: 1 100%;
  color: hsl(211, 10%, 45%);
}

#modal-delete > button {
  width: 47.5%;
  padding: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  cursor: pointer;
}

#modal-delete > button:first-of-type {
  background-color: hsl(211, 10%, 45%);
}

#modal-delete > button:last-of-type {
  background-color:hsl(358, 79%, 66%);
}

#modal-delete > button:hover {
  opacity: .5;
}

/* Main #modal-background */
#modal-background {
  background-color: hsl(0, 0%, 50%, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Active States */
.div-delete:hover, .edit-reply-container:hover, .comment-submit:hover {
  opacity: .5;
}

.icon-plus:hover > path, .icon-minus:hover > path {
  fill:hsl(238, 40%, 52%);
}

.form-textArea:focus {
  outline: none;
  border: 2px solid hsl(238, 40%, 52%);
}

/* Media Query: 576px */
@media (min-width: 576px) {
  .comment {
    flex-direction: column;
    height: 175px;
    position: relative;
  }

  .comment-details {
    width: 60%;
    height: 30%;
    margin: 0;
    order: 2;
  }

  .comment > div:nth-of-type(2) {
    width: 85%;
    height: 70%;
    margin: 0;
    order: 3;
  }

  .likes-container {
    width: 10%;
    height: 80%;
    order: 1;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1rem;
  }

  .icon-plus, .icon-minus {
    margin: 0;
  }

  .edit-comments-container {
    width: auto;
    height: 20%;
    position: absolute;
    top: 11%;
    right: 1rem;
  }

  #modal-delete {
    width: 75%;
    left: 12.5%;
    transform: none;
  }
}

@media (min-width: 767px) {
  .comment {
    justify-content: flex-start;
  }

  .comment-details {
    margin-bottom: .25rem;
  }

  .comment > div:nth-of-type(2) {
    height: 50%;
  }

  .likes-container {
    width: 7.5%;
  }

  .comment-form {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .comment-form > div {
    order: 1;
    margin-right: 1rem;
  }

  .comment-form > label:first-of-type {
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  body {
    position: relative;
  }

  main {
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-width: 1200px) {
  main {
    width: 60%;
  }
}

@media (min-width: 1444px) {
  main {
    width: 55%;
  }
}