/* Universal Styles */
body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: hsl(211, 10%, 45%);
  background-color: hsl(223, 19%, 93%);
}

.icon-plus, .icon-minus, .reply-container, #comment-submit {
  cursor: pointer;
}

/* Main */

/* Main .comment-section */
.comment-section {
  padding: 1rem;
}
/* Main .comment */
.comment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin-bottom: 1rem;
}
/* Main .comment-details */
.comment-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-user {
  width: 24px;
  height: 24px;
}

.avatar-user, .comment-details > div:first-of-type{
  margin-right: 1rem;
}

.comment-details > div:first-of-type {
  color: hsl(212, 24%, 26%);
  font-weight: 600;
}
/* Main .comment > div:nth-of-type(2) (content div) */ 
.comment > div:nth-of-type(2) {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.replyingTo {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
/* Main .likes-container */
.likes-container {
  display: flex;
  align-items: center;
  padding: .5rem;
  background-color: hsl(223, 19%, 93%);
  border-radius: 10px;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.icon-plus {
  width: 11px;
  height: 11px;
  margin-right: .75rem;
}

.icon-minus {
  width: 11px;
  height: 3px;
  margin-left: .75rem;
}
/* Main .reply-container */
.reply-container {
  display: flex;
  align-items: center;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}

.icon-reply {
  width: 14px;
  height: 13px;
  margin-right: .25rem;
}
/* Main .replies-list */
.replies-list {
  width: 100%;
  border-left: 2px solid hsl(239, 57%, 85%);
  margin-left: auto;
  padding-left: 5%;
}

/* Main .comment-create */
.comment-user-create {
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.comment-user-create, .comment-form, #form-textArea {
  width: 100%;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.comment-form > label:first-of-type {
  flex: 1 100%;
  order: 1;
}

#form-textArea {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid hsl(223, 19%, 93%);
  border-radius: 10px;
  resize: none;
}

.comment-form > div {
  order: 2;
}

.comment-form > label:last-of-type {
  order: 3;
}

#user-pfp {
  width: 36px;
  height: 36px;
}

#comment-submit {
  padding: 0.75rem 1.5rem;
  color: white;
  background-color: hsl(238, 40%, 52%);
  border-radius: 5px;
  text-transform: uppercase;
}